<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/style.css" rel="stylesheet"/>
    <title>{% block title %}My Flask App{% endblock %}</title>

    {% block head %}{% endblock %}
</head>
<body>

    <nav class="navbar">
        <div class="navbar-container">
            <a href="{{ url_for('main.home') }}" class="navbar-brand">
                My Flask App
            </a>

            <div class="navbar-links">
                <a href="{{ url_for('main.home') }}">Home</a>
                <a href="{{ url_for('main.login') }}">Login</a>
                <a href="{{ url_for('main.register') }}">Register</a>
            </div>
        </div>
    </nav>

    <main class="container">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash flash-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}

    </main>

    <footer>
        <p> My Flask App </p>
    </footer>

</body>
</html>